{% extends 'layout-sidebar.twig' %}

{% block title %}
    Create Course | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>Create Course</h2>
    </div>

    <form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="row main-content">
                <div class="col-md-8">
                    {% include 'partials/errors.twig' with errors %}
                    {% include 'etest/form-main.twig' %}
                </div>

            </div>
        </div>
    </form>
{% endblock %}