<div class="box box-default">
    <div class="box-header">
        <h3>Course Image</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="">
                    {% if course | default(false) %}
                        <img src="{{ course.image_url | default(app.default_etest_course_image) }}"
                             class="img-responsive"
                             alt="Featured Image"/>
                    {% endif %}
                </div>
                <input type="file" class="form-control" name="course_image" value="1">
            </div>
        </div>
    </div>
</div>