{% extends 'layout-application.twig' %}

{% block title %}
    Admin Register | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        REGISTRATION PAGE
    </div>
{% endblock %}