{% extends 'layout-sidebar.twig' %}

{% block title %}
    Admin Upload | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h4>Add book</h4>
        {% include ('book/form-main.twig') with {'categories' : categories } %}
    </div>
{% endblock %}