{% extends 'layout-sidebar.twig' %}

{% block title %}
    Edit Book | {{ parent() }}
{% endblock %}

{% block content %}
  <div class="page-header">
    <h2>Edit book</h2>
  </div>

  <form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
    <div class="container-fluid">
      <div class="row main-content">
        <div class="col-md-8">
          {% include 'partials/errors.twig' with errors %}
          {% include 'book/form-main.twig' with {'categories' : categories, 'book' : book } %}
        </div>
        <div class="col-md-4">
          {% include 'book/form-side.twig' %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}
