{% extends 'layout-sidebar.twig' %}

{% block title %}
    Admin Upload | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <h4>Add book</h4>
        {% include ('partials/add-book-form.twig') %}
    </div>
{% endblock %}