{% extends 'layout-sidebar.twig' %}

{% block title %}
    Edit Article | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>Edit Article</h2>
    </div>

    <form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="row main-content">
                <div class="col-md-9">

                    {% include 'partials/errors.twig' with errors %}

                    {% include 'article/form.twig' %}

                </div>
                <div class="col-md-3">
                    <div class="box box-default">
                        <div class="box-header">
                            <h3>Featured Image</h3>
                        </div>
                        <div class="box-body">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
{% endblock %}