<div class="box box-default">
    <div class="box-body">

        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" name="user[address]"
                       placeholder="Title">
            </div>
        </div>

    </div>
    <div class="box-footer">
        <button class="btn btn-primary" type="submit">Publish Article</button>
        <a href="{{ app.url_generator.generate('admin.dashboard') }}" class="btn btn-default"
           type="button">Cancel</a>
    </div>
</div>