{% extends 'layout-sidebar.twig' %}

{% block title %}
  Register User | {{ parent() }}
{% endblock %}

{% block content %}
  <div class="page-header">
    <h2>All User Billing Log</h2>
  </div>
{% endblock %}