{% extends 'layout-sidebar.twig' %}

{% block title %}
    Edit User | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-dashboard">
        <div class="page-header">
            <h2>Edit User #{{ user.id }}</h2>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="col-md-9">
                    <form method="post">
                        TYPE = student | staff
                        <input type="text" name="first_name" placeholder="First Name" /> <br />
                        <input type="text" name="last_name" placeholder="Last Name" /> <br />
                        <input type="text" name="gender" /> <br />
                        <input type="text" name="address" /> <br />
                        <input type="text" name="email" /> <br />
                        <input type="text" name="password" /> <br />
                        <input type="text" name="unique_id" /> <br />
                    </form>
                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
